@import url("https://fonts.googleapis.com/css?family=Poppins:500,400,600");
:root {
    --header-height: 3rem;
    --nav-width: 80px;
    --first-color: #4055a8;
    --second-color: #06080fff;
    --first-color-light: #ffffff;
    --white-color: #ffffff;
    --body-font: "Poppins", Helvetica;
    --normal-font-size: 14px;
    --z-fixed: 100
}

* {
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
    text-align: right;
}

*, ::before, ::after {
    box-sizing: border-box;
}
.hidden{
    display:none;
}
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #000000;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #4155a6ff;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    transition: .5s;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    background-color: #f2f4ffff;
}

    body::-webkit-scrollbar {
        width: 1px; /* Make sure the scrollbar width is visible */
}

    body::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Lighter color to ensure visibility */
        border-radius: 10px;
    }

a {
    text-decoration: none
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .active {
    background-color: #4155a6ff;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_user {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Adjusts spacing between image and name */
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

    .header_img img {
        width: 100%; /* Ensures the image fully fits the container */
        height: auto;
    }

.header_name {
    font-size: 1rem;
    color: var(--text-color); /* Customize this for better visibility */
}

.l-navbar {
    position: fixed;
    top: 0;
    right: -30%;
    width: var(--nav-width);
    height: 100vh;
    background: linear-gradient(to bottom, var(--first-color), var(--second-color));
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Force scrollbar to show */
    overflow-x: hidden;
}

    .nav::-webkit-scrollbar {
        width: 1px; /* Make sure the scrollbar width is visible */
    }

.navb::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Lighter color to ensure visibility */
    border-radius: 10px;
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem .5rem .5rem 0
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    padding-right: 1.5rem;
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

    .nav_link:hover {
        margin-left: 5px;
        border-radius: 10px;
        background-color: #0D1121
    }

.nav_icon {
    font-size: 1.25rem
}

.show {
    right: 0
}

.body-pd {
    padding-right: calc(var(--nav-width) + 1rem);
}

.active {
    color: #000000;
}

    .active::before {
        content: '';
        position: absolute;
        right: 0;
        width: 2px;
        height: 32px;
        background-color: var(--white-color)
    }

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-right: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 calc(var(--nav-width) + 2rem) 0 2rem
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .l-navbar {
        right: 0;
        padding: 1rem .5rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-right: calc(var(--nav-width) + 188px)
    }
    .smallIcon {
        width: 70px;
    }
    .logo {
        width: 150px;
    }
}

@media screen and (max-width: 365px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-right: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 calc(var(--nav-width) + 2rem) 0 2rem
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .header_name {
        display: none
    }

    .l-navbar {
        right: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: auto
    }

    .body-pd {
        padding-right: calc(var(--nav-width) + 10rem)
    }
    .smallIcon {
        width: 70px;
    }
    .logo {
        width: 100px;
    }
}

.main-content-section {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    transition: .5s;
    overflow: auto;
}

.content-wrapper {
    width: auto;
    max-width: 1500px; /* Limits maximum width for larger screens */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    border-radius: 8px;
    margin-top: calc(var(--header-height) + 1rem); /* Ensures proper spacing from the top */
    transition: .5s;
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .content-wrapper {
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .content-wrapper {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .content-wrapper {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .main-content-section {
        padding: 0.5rem;
    }

    .content-wrapper {
        width: 90%;
        padding: 1rem;
        right: 80px;
        position: absolute;
    }
}

@media screen and (max-width: 365px) {
    .content-wrapper {
        width: 80%;
        padding: 0.5rem;
        right: 80px;
        position: absolute;
    }
}
