@model LoginModel
@{
    Layout = "_RegisterLayout";
}

<form asp-action="Login" method="post" style="direction:rtl;     width: 70%;
">
    <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
    <span class="text-danger">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </span>

    <div class="div-2">
        <div class="div-3">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">
                    <img src="~/asset/Mail, Email, Letter.png" alt="Logo">
                </span>
                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="رقم الهاتف" aria-label="رقم الهاتف" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">
                    <img src="~/asset/Password.png" alt="Logo">
                </span>
                <input asp-for="Password" type="password" class="form-control" placeholder="كلمة المرور" aria-label="كلمة المرور" aria-describedby="addon-wrapping">
            </div>
            <div class="save-and-forgot">
                <a asp-action="ForgotPassword" class="text-wrapper-4">هل نسيت كلمة السر؟</a>
                <div class="icon-with-text">
                    <label for="remember" class="text-wrapper-5">تذكرنى</label>
                    <input asp-for="RememberMe" id="remember" type="checkbox" class="check-box" />
                </div>
            </div>
            <button type="submit" class="button">
                <div class="state-layer">
                    <div class="label-text">تسجيل الدخول</div>
                </div>
            </button>
        </div>
    </div>
</form>
